@model IEnumerable<CafeteriaWeb.Models.Order>

@{
    ViewData["Title"] = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-card">
    <h1>Pedidos</h1>

    @* <form method="post" asp-action="OrderFilter" id="filterOrdes">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="orderNumber" class="form-label">N° do pedido</label>
                    <input id="orderNumber" name="orderNumber" class="form-control" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="isPayed" class="form-label">Pedido Pago?</label>
                    <select id="isPayed" name="isPayed" class="form-control">
                        <option value="all" selected="@(ViewBag.isPayed == "all")">Todos os Pedidos</option>
                        <option value="true" selected="@(ViewBag.isPayed == "yes")">Sim</option>
                        <option value="false" selected="@(ViewBag.isPayed == "no")">Não</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="period" class="form-label">Data do Pedido</label>
                    <input id="dateOrder" name="dateOrder" type="date" class="form-control" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="period" class="form-label">Endereço</label>
                    <input id="orderAdress" name="orderAdress" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="form-group">
                <button id="btnSearch" class="btn btn-primary" onclick="searchOrder()">Pesquisar <i class="fa-solid fa-magnifying-glass"></i></button>
            </div>            
        </div>
    </form> *@

    <table class="table table-hover mt-3">
        <thead>
            <tr class="table-active">
                <th title="N° do Pedido">
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDispatched)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDelivered)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentMethod)
                </th>               
                <th>
                    @Html.DisplayNameFor(model => model.IsPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ForDelivery)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td title="N° do Pedido">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDispatched)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDelivered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                        @if (item.IsPaid)
                        {
                            <span><i class="text-success fa-solid fa-circle-check"></i> Sim</span>
                        }
                        else
                        {
                            <span><i class="text-danger fa-solid fa-circle-xmark"></i> Ainda não</span>
                        }                    
                </td>
                <td>
                        @if (item.ForDelivery)
                        {
                            <span>Sim <i class="fa-solid fa-motorcycle"></i></span>
                        }
                        else
                        {
                            <span>Retirar na loja <i class="fa-solid fa-store"></i></span>
                        }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress.Name)
                </td>
                <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" title="Vizualizar Pedido"><i class="fa-solid fa-receipt"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        function searchOrder() {
            let form = document.getElementById("filterOrdes")
            form.submit()
        }
    </script>
}
