@model IEnumerable<CafeteriaWeb.Models.Order>

@{
    ViewData["Title"] = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-card">
    <h1>Pedidos</h1>
    <a class="btn btn-primary" asp-action="Create">Registrar Pedido Externo</a>
    <form method="post" asp-action="PeriodFilter" id="filterPeriodForm">
        <div class="form-group">
            <label for="period" class="form-label mt-4"><strong>Filtrar por periodo</strong></label>
            <select class="form-select" id="period" name="period" onchange="postForm()" style="width:160px; margin-bottom:10px;">
                <option value="0" selected="@(ViewBag.Period == "0")">Tudo</option>
                <option value="day" selected="@(ViewBag.Period == "day")">Hoje</option>
                <option value="week" selected="@(ViewBag.Period == "week")">Esta semana</option>
                <option value="month" selected="@(ViewBag.Period == "month")">Este Mês</option>
                <option value="year" selected="@(ViewBag.Period == "year")">Este Ano</option>
            </select>


        </div>
    </form>
    
    <table class="table table-hover">
        <thead>
            <tr class="table-active">
                <th title="N° do Pedido">
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDispatched)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDelivered)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ForDelivery)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                decimal totalvalue = 0;
            }
            @foreach (var item in Model)
            {
                totalvalue += item.TotalOrder;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName)&nbsp;@Html.DisplayFor(modelItem => item.User.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress.Street)&nbsp;@Html.DisplayFor(modelItem => item.Adress.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDispatched)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDelivered)
                    </td>
                    <td>
                        <span>R$</span>@Html.DisplayFor(modelItem => item.TotalOrder)
                    </td>
                    <td>
                        @if (item.IsPaid)
                        {
                            <span>Sim <i class="text-success fa-solid fa-circle-check"></i></span>
                        }
                        else
                        {
                            <span>Não <i class="text-danger fa-solid fa-circle-xmark"></i></span>
                        }
                    </td>
                    <td>
                        @if (item.ForDelivery)
                        {
                            <span>Sim <i class="text-success fa-solid fa-circle-check"></i></span>
                        }
                        else
                        {
                            <span>Não <i class="text-danger fa-solid fa-circle-xmark"></i></span>
                        }
                    </td>
                    <td>
                        @if (!item.Finished)
                        {
                            <a class="btn btn-success finish-button" data-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Finalizar Pedido"><i class="fa-solid fa-clipboard-check"></i></a>
                        }
                        @if (item.OrderDelivered != null)
                        {
                            <a class="btn btn-primary outDelivery-button" data-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Saiu para entrega"><i class="fa-solid fa-motorcycle"></i></a>
                        }
                        @if (!item.IsPaid)
                        {
                            <a class="btn btn-outline-success pay-button" data-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Marcar como Pago"><i class="fa-solid fa-sack-dollar"></i></a>
                        }
                        <a class="btn btn-danger delete-button" data-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    <strong>Total de vendas: R$@totalvalue</strong>
                </td>                
            </tr>            
        </tfoot>
    </table>

    <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false">
    </div>

</div>

@section Scripts {

    <script>

        function postForm() {
            debugger
            let form = document.getElementById('filterPeriodForm')
            if (form) {
                form.submit();
            }
        }

        $(document).ready(function () {

            $('.delete-button').click(function () {
                debugger
                var id = $(this).data('id');

                $("#modal").load("/Admin/AdminOrder/Delete/" + id, function () {
                    $("#modal").modal("show");
                })
            });

            $('.pay-button').click(function () {
                debugger
                var id = $(this).data('id');

                $("#modal").load("/Admin/AdminOrder/MarkOrderAsPayed/" + id, function () {
                    $("#modal").modal("show");
                })
            });

            $('.finish-button').click(function () {
                debugger
                var id = $(this).data('id');

                $("#modal").load("/Admin/AdminOrder/FinishOrder/" + id, function () {
                    $("#modal").modal("show");
                })
            });

            $('.outDelivery-button').click(function () {
                debugger
                var id = $(this).data('id');

                $("#modal").load("/Admin/AdminOrder/OutForDelivery/" + id, function () {
                    $("#modal").modal("show");
                })
            });
        });
    </script>
}