@model IEnumerable<CafeteriaWeb.Models.Product>

@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 350px; margin-bottom: 10px; margin-right: 5px;margin-left: 5px;">
                <img src="@Url.Content(item.ImgPath)" class="img-fluid" style="height:190px;" />
                <p>Preço: @item.Price.ToString("c")</p>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Snack" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h5>
                    <p>@item.SmallDescription</p>
                    <div>
                        <p class="button">
                            <a class="btn btn-primary" id="cartButton" asp-controller="ShoppingCart" asp-action="AddItemToShoppingCart"
                               asp-route-id="@item.Id">
                                Incluir no Carrinho
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>






