@model CafeteriaWeb.Models.Product

@{
    ViewData["Title"] = "Excluir Produto";
}

<div class="modal-dialog adjustment-modal">
    <div class="modal-content" style="z-index:100;">
        <div class="modal-header">
            <h1 class="modal-title">Excluir Produto</h1>
            <button type="button" class="close btn btn-danger" data-bs-dismiss="modal">
                <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span><span class="sr-only">Fechar</span>
            </button>
        </div>
        <div class="content-page" style="margin: 20px;">
            <h4>Tem certeza que deseja excluir?</h4>
            <div class="col-12" style="text-align:center;">
                <img id="imgProduct" src="@Url.Content(Model.ImgPath)" height="200" width="200" />
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-3">
                        <dl class="row">
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Name):
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl class="row">
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Price):
                            </dt>
                            <dd class="col-sm-7" style="text-align:left">
                                R$@Html.DisplayFor(model => model.Price)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl class="row">
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.IsFavorite)
                            </dt>
                            <dd class="col-sm-9" style="text-align:right">
                                @if (Model.IsFavorite)
                                {
                                    <i class="text-success fa-solid fa-circle-check"></i>
                                }
                                else
                                {
                                    <i class="fa-regular fa-circle"></i>
                                }
                            </dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl class="row">
                            <dt class="col-sm-9">
                                @Html.DisplayNameFor(model => model.IsAvaible)
                            </dt>
                            <dd class="col-sm-3" style="text-align:right">
                                @if (Model.IsAvaible)
                                {
                                    <i class="text-success fa-solid fa-circle-check"></i>
                                }
                                else
                                {
                                    <i class="fa-regular fa-circle"></i>
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="submit" value="Excluir" class="btn btn-danger" />
                        </div>
                    </div>
                    <div class="col-6 text" style="text-align: end">
                        <div class="form-group">
                            <button type="button" class="close btn btn-secondary ml-2" data-bs-dismiss="modal">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    </div>
</div>
