@model IEnumerable<CafeteriaWeb.Models.Product>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Criar novo</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th  style="text-align: center;">
                <i class="fa-regular fa-image"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmallDescription)
            </th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.IsAvaible)
            </th>         
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.IsFavorite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="height:50px;">
            <td>               
                <img id="profilePicture" src="@Url.Content(item.ImgThumbnailPath)" height="40" width="60" />                              
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                R$@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmallDescription)
            </td>
            <td style="text-align: center;">
                @if (item.IsAvaible)
                {
                    <i class="text-success fa-solid fa-circle-check"></i>
                }
            </td>           
            <td style="text-align: center;">
                @if (item.IsFavorite)
                {
                    <i class="text-success fa-solid fa-circle-check"></i>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>           
            <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Details" style="color: white;" class="btn btn-info" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalhes"><i class="fa-solid fa-circle-info"></i></a>
                    <a class="btn btn-danger delete-button" data-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir"><i class="fa-regular fa-trash-can"></i></a>                 
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false">
</div>


@section Scripts {

    <script>
        $(document).ready(function () {

            $('.delete-button').click(function () {
                debugger
                var id = $(this).data('id');

                var id = $(this).attr("data-id");
                $("#modal").load("/Products/Delete/" + id, function () {
                    $("#modal").modal("show");
                })
            });
        });
    </script>
}
